nav {
  height: var(--navbar-height);
  padding: 10px 16px;

  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 1;
  align-items: center;

  transition: all 0.3s linear;
  user-select: none;
}

nav > h2 {
  font-weight: 900;
}

.nav-btns{
  justify-content: end;
  display: flex;
  flex-direction: row;
  gap: 16px;
}

nav span {
  transition: all 0.1s linear;
}

nav span:active {
  transform: scale(0.95);
}

nav.light{
  background-color: var(--nav-light);
  color: var(--font-dark)
}

nav.dark{
  background-color: var(--nav-dark);
  color: var(--font-light);
}